@charset "UTF-8";

html,body, ul {
	margin:0;
	padding:0;
}

header nav {
	height:50px;
	background-color:silver;
}

header nav ul {
	display:flex; /* 옆으로 나열되도록 */
	height:100%;
	align-content:center;
	list-style: none;
}

header nav ul li {
	margin-left:20px;
}

section{
	padding-left:40px;
	padding-right:40px;}

.colorRed {color:red;}
.displayNone {display: none !important;}
/* display : none; 안보이면서 태그가 공간도 차지하지 않음
 * visibility: hidden; 안보이지만 공간은 차지함
 * important가 우선순위 제일 높음
 */