@charset "UTF-8";

.record {cursor: pointer;}
.record:hover {background-color : #e8e7d5;}

.profileImg{
	width:20px;
	height:20px;
	border-radius:50%;
}

.selected {
	font-weight: bold;
	color: cornflowerblue;}