<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jimin.spring.board.BoardCmtMapper">
    <insert id="insBoardCmt"> <!--select때는 resulttype꼭 적어줘야 하지만 나머지는 생략 가능-->
    INSERT INTO t_board_cmt
    (iboard, iuser, cmt)
    VALUES
    (#{iboard}, #{iuser}, #{cmt}); <!-- BoardCmtEntity의 멤버필드명 !! -->
    </insert>
                        <!-- select 된 애들 어따 담을래? 묻는 것   -->
    <select id="selBoardCmtList" resultType="BoardCmtDomain"> /* mapper보고 list로 뽑아주니까 list를 따로 안적어준다. */
    SELECT A.icmt, A.iuser, A.cmt, A.regdate, B.unm AS writerNm, B.profileImg
    FROM t_board_cmt A
    INNER JOIN t_user B
    ON A.iuser = B.iuser
    WHERE A.iboard = #{iboard}
    ORDER BY A.icmt
    </select>
</mapper>